:root {
    --darkblue: #05203c;
    --blue: #0062e3;
    --pink: #e70866;
}

.container {
    max-width: 1270px;
    margin: auto;
    padding: 0 20px;
}

.container2 {
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}

.container3 {
    max-width: 1140px;
    margin: auto;
    padding: 0 30px;
}


/* header */
.header-bg {
    position: relative;
    background-color: var(--darkblue);
}

.header {
    padding: 20px 20px;
}

.header2 {
    padding: 20px 30px;
}

header>div>svg,
header>div>a {
    width: 173px;
}

.GlobalHeader_logoDark__MzFhM {
    fill: white;
}

header>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 10px;
}

header>div:first-child>div {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    font: 400 13px 'Inter';
}

.icons-bg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 7px;
    transition: .3s;
}

.icons-bg>img {
    width: 26px;
    border-radius: 50%;
}

.icons-bg:hover {
    background-color: #626971;
}

nav {
    display: flex;
    gap: 5px;
}

nav::-webkit-scrollbar,
.links::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

nav a {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 30px;
    color: white;
    font: 600 13px 'Inter';
    border: 1px solid rgba(255, 255, 255, 0.61);
}

nav a:hover {
    background-color: #154679;
    border-color: #154679;
}

.active {
    background-color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
}

/* main */
main {
    padding: 40px 0;
}

.links {
    display: flex;
    gap: 20px;
    overflow-y: scroll;
}


.links div {
    flex: 1;
    display: flex;
    gap: 18px;
    color: white;
    align-items: center;
    padding: 22px 24px;
    background-color: var(--darkblue);
    border-radius: 15px;
    font: 600 14px 'Inter';
    transition: .3s;
    cursor: pointer;
}

.links div:hover {
    background-color: #1a4a7e;
}

.main-img {
    margin-top: 40px;
    display: flex;
    border-radius: 15px;
    height: 460px;
    width: 100%;
    padding-left: 60px;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.main-img p {
    font: 600 15px 'Inter';
}

.main-img h2 {
    font: 800 46px 'Inter';
    width: 400px;
    line-height: 46px;
    margin: 10px 0 40px;
}

.main-img button {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 10px;
    font: 700 14px 'inter';
    padding: 9px;
    width: 132px;
    transition: .3s;
}

.main-img button:hover {
    background-color: #bcc1c7;
}

.question-section {
    margin-top: 30px;
}

.question-section h3 {
    font: 600 32px 'Inter';
}

.question-col {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.question-box {
    display: flex;
    gap: 15px;
}

.question {
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
}

.question h5 {
    position: relative;
    z-index: 2;
    font: 700 15px 'Inter';
    transition: .17s;
    padding: 18px 0 9px;
}

.question h3 {
    position: relative;
    z-index: 2;
    font: 600 19px 'Inter';
    transition: .17s;
    padding: 18px 0 9px;
}

.question svg {
    position: absolute;
    right: 0;
    top: 20px;
}

.question p {
    overflow: hidden;
    color: #161616;
    font: 400 15px 'Inter';
    transition: .4s linear;
    margin-bottom: 9px;
}

/*Footer  */
footer {
    background-color: var(--darkblue);
    padding: 50px 0 30px;
}

.footer {
    display: flex;
    font: 500 13px 'Inter';
    justify-content: space-between;
    color: white;
}

.footer>div:last-child {
    display: flex;
    gap: 40px;
}

.footer>div:last-child>div {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 240px;
}

.footer p {
    position: relative;
    cursor: pointer;
    line-height: 18px;
    display: inline;
}

#f-col1 p::after,
#f-col2 p::after,
#f-col3 div div p::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    transition: .4s;
    background-color: white;
}

#f-col1 p:hover::after,
#f-col2 p:hover::after,
#f-col3 div div p:hover::after {
    width: 100%;
}

#lang {
    font: 600 11px 'Inter';
    margin-right: 20px;
    color: white;
    width: 300px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #15457980;
    height: min-content;
}

#lang:hover {
    background-color: #0c0c0c;
}

#f-col3 {
    gap: 9px;
}

#f-col3 p {
    z-index: 2;
}

#f-col3>div {
    position: relative;
}

#f-col3 svg {
    position: absolute;
    right: 0px;
    top: 2px;
}

#f-col3>div>div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-weight: 300;
    overflow: hidden;
    margin-top: 9px;
    transition: max-height .7s;
}

#f-col3>div>p {
    display: block;
}

footer h4,
footer h3 {
    color: white;
    text-align: center;
}

footer h4 {
    font: 300 11px 'Inter';
    margin-top: 35px;
}

footer h3 {
    font: 400 13px 'Inter';
}


#fl-bg,
#ht-bg {
    display: flex;
    height: 570px;
}

#fl-bg {
    justify-content: center;
    align-items: center;
    background: url(../public/assets/imagebg-flights.png);
    background-size: cover;
    background-position: 0;
}

#ht-bg {

    background: url(../public/assets/bg2.png);
    background-size: cover;
    background-position: 0;
}

/* filter */

.filterFlight,
.filterCar {
    width: 1230px;
    background-color: var(--darkblue);
    border-radius: 4px;
    padding: 25px 25px;
}

.tripType {
    border: 1px solid rgba(255, 255, 255, 0.61);
    width: 150px;
}

.tripType,
.tripTypeMobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.tripTypeMobile {
    border: 1px solid #b3b3b3;
    margin-top: 30px;
}

.tripType>p,
.tripTypeMobile>p {
    padding: 4px 12px 7px 15px;
    color: white;
    font: 400 13px 'Inter';
}

.tripTypeMobile>p {
    color: #0c0c0c;
}

.tripType>svg,
.tripTypeMobile>svg {
    margin: 1px 6px 0 0;
}

.typeDropdown {
    position: absolute;
    z-index: 6;
    padding: 20px;
    border-radius: 7px;
    width: 300px;
    left: 0;
    top: calc(100% + 15px);
    background-color: white;
}

.typeDropdown>p,
.mobileTypeDropdown p {
    position: relative;
    font: 400 15px 'Inter';
    padding: 10px 10px 10px 40px;
}

.typeDropdown>p:hover {
    background-color: #ebebeb;
}

.typeDropdown svg,
.mobileTypeDropdown svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.filterFlight>div:nth-child(2)>div:first-child {
    display: flex;
    gap: 4px;
    width: 91%;
}

.placeInputs,
.dateInputs {
    display: flex;
    gap: 4px;
}

.filterFlight>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;

}

.first-box {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.last-box {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.filter-box,
.filter-box2 {
    position: relative;
    flex: 2;
    cursor: pointer;
    padding: 15px 18px;
    background-color: white;
    border: 2px solid white;
}

.filter-box input,
.filter-box2 input {
    width: 100%;
}

.filter-box input,
.filter-box h5,
.filter-box2 input,
.filter-box2 h5 {
    border: none;
    outline: none;
    font: 400 16px 'Inter';
    margin-top: 3px;
    padding: 0;
}

.filter-box p,
.filter-box2 p {
    color: rgb(79, 83, 87);
    font: 600 14px 'Inter';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
}

.filter-box h5,
.filter-box2 h5 {
    color: #626971;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.mobileInput {
    display: none;
    color: #0c0c0c !important;
}

.filter-box:focus-within,
.filter-box2:focus-within {
    border: 2px solid var(--blue);
}

.buttonSearch,
.buttonSearch2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--blue);
    width: 73px;
    height: 73px;
    font: 600 14px 'Inter';
    color: white;
    transition: .3s;
}

.buttonSearch:hover,
.buttonSearch2:hover {
    background-color: #1a5799;
}

.filterFlight>div:last-child {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.filterFlight>div:last-child label {
    font: 500 15px 'Inter';
    color: white;
}

input[type="checkBox"] {
    width: 20px;
    height: 20px;
}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reverseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0%;
    transform: translateX(calc(50% + 3px)) rotate(40deg);
    z-index: 5;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid var(--darkblue);
    border-radius: 50%;
    background-color: white;
    transform: .4s;
}

.reverseButton:hover {
    background-color: #d8dadb;
}

/* dateDrop */
.dropdownDate1,
.dropdownDate2 {
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 3;
    top: calc(100% + 5px);
    background-color: white;
    border-radius: 20px;
    padding-bottom: 40px;
    transform: translateX(50%);
    right: calc(50% + 2px);
}

.border {
    border: 2px solid var(--blue);
}

.buttonSaveDate {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font: 400 14px 'Inter';
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--blue);
    width: min-content;
}

.buttonSaveDate:hover {
    background-color: #165394;
}

/* frompciker */
.fromDropdown {
    position: absolute;
    z-index: 3;
    top: calc(100% + 5px);
    width: 490px;
    background-color: white;
    border-radius: 13px;
    left: 0;
    overflow: hidden;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fromDropdown h4,
.fromMobileCountry h4 {
    font: 400 15px 'Inter';
    color: #161616;
}

.fromDropdown p,
.fromMobileCountry p {
    font: 400 12px 'Inter';
    color: #161616;
}

.fromDropdown>div,
.fromMobileCountry>div {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 20px;
    cursor: pointer;
}

.allCountryButton {
    padding: 20px !important;
}

.fromDropdown>div:hover,
.fromMobileCountry>div:hover {
    background-color: #eff3f8;
}

#path-title {
    display: flex;
    font: 400 15px 'Inter';
    align-items: center;
    margin: 35px 0;
    gap: 4px;
}

#path-title h5 {
    position: relative;
    color: #161616;
}

#path-title h5::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #161616;
    bottom: -1px;
    left: 0;
    color: #161616;
    transition: .3s;
}

#path-title h5:hover::after {
    width: 0;
}

#path-title p {
    color: #626971;
}

/* advice */

.adviceBox {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.adviceBox>div {
    gap: 15px;
    display: flex;
}

.adviceBox p {
    font: 600 14px 'inter';
    line-height: 20px;
}

.adviceBox svg {
    display: inline;
}

/* flight questions */
.flightQuestionSection {
    max-width: 800px;
    margin: 100px 0;
}

.flightQuestionSection h2 {
    font: 600 32px 'Inter';
    margin-bottom: 10px;
}

/* advice2 */
.adviceSection2 {
    border-radius: 20px;
    padding: 38px 24px;
    background-color: #eff3f8;
    margin-bottom: 100px;
}

.adviceSection2>h2 {
    font: 600 32px 'Inter';
    text-align: center;
}

.adviceSection2 p {
    font: 400 15px 'Inter';
    line-height: 22px;
    color: #161616;
    text-align: center;
    margin: 7px 0;
}

.adviceBox2 {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.adviceBox2 div:first-child {
    width: 180px;
}

.adviceBox2 article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.adviceBox2 img {
    width: 100%;
}

.adviceBox2 h4 {
    text-align: center;
    font: 600 22px 'Inter';
}

/* advice3 */
.adviceSection3>h3 {
    font: 600 24px 'Inter';
}

.adviceSection3>p {
    margin-top: 9px;
    font: 400 14px 'Inter';
    color: #161616;
}

.adviceBox3 {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: 50px 0;
}

.adviceBox3 article {
    display: flex;
    gap: 15px;

}

.adviceBox3 h3 {
    font: 600 20px 'Inter';
}

.adviceBox3 p {
    font: 400 15px 'Inter';
    color: #626971;
    margin-top: 10px;
    line-height: 25px;
}

.header-filter>.filterFlight,
.header-filter>.filterCar {
    display: none;
}

/* mobile-from-country */

.mobileFrom {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    position: fixed;
    padding: 0 !important;
}

.mobileFrom>h3,
.mobileDate>h3,
.mobileTypeDropdown>h3 {
    text-align: center;
    margin: 20px;
    font: 600 15px 'Inter';
}

.mobileFrom>svg,
.mobileDate>svg,
.mobileTypeDropdown>svg {
    position: absolute;
    top: 22px;
    left: 25px;
    cursor: pointer;
}

.mobileFromInput {
    margin-inline: 25px;
    background-color: #eff3f8;
    padding: 13px 15px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 7px;
    border: 2px solid #eff3f8;
}

.mobileFromInput p {
    font: 400 15px 'Inter';
    color: #595f66;
}

.mobileFromInput input {
    outline: none;
    border: none;
    background: none;
    font: 400 15px 'Inter';
}

.mobileFromInput input::placeholder {
    color: #858c94;
    font-weight: 300;
}

.mobileFromInput:focus-within {
    border-color: var(--blue);
    background-color: white;
}

.fromMobileCountry {
    margin-top: 30px;
    background-color: white;
    border-radius: 13px;
    left: 0;
    height: 80vh;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.fromMobileCountry>div>h3,
.fromDropdown h3 {
    color: var(--blue);
    font: 600 15px 'Inter';
}

/* mobiledate */
.mobileDate {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 6;
    padding: 0 25px !important;
    background-color: white;
}

.mobileTypeDropdown {
    position: fixed;
    z-index: 7;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px 24px 40px !important;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.mobileDateInputs {
    display: flex;
    gap: 5px;
}

.mobileDateInputs>div {
    border-radius: 13px;
    background-color: #eff3f8;
    border: 2px solid var(--blue);
    padding: 11px 15px;
    flex: 1;
    margin-top: 15px;
}

.mobileDateInputs p {
    font: 600 14px 'Inter';
    color: #626971;
}

.mobileDateInputs h5 {
    color: #05203c;
    font: 400 15px 'Inter';
    margin-top: 6px;

}

.deleteInp {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #595f66;
}

/* transportFilter */
.transportFilter,
.ticketFilter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 15px;
    background: white;
    padding: 17px 20px;
    border-radius: 10px;
    margin-top: 15px;
    font: 400 15px 'Inter';
    color: var(--darkblue);
}

.ticketFilter {
    background-color: #15457980;
    color: white;
    padding: 15px 20px;
    margin-top: 20px;
}

.ticketFilter:hover {
    background-color: #161616;
}

.tr-filterFlight .filterFlight {
    padding: 20px 0 10px 0;
}

#okk {
    cursor: pointer;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #05203c88;
}

/* citiesSection */
.bg-city {
    background-color: #eff3f8;
    padding: 30px 0;
}

.citiesSection>h2 {
    font: 600 30px 'Inter';
    color: #0c0c0c;
}

.allCity {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.none {
    padding: 30px 0;
    width: 100%;
}

.none>h3 {
    text-align: center;
    font: 300 32px 'Inter';
    color: #858c94;
}

.cityCard,
.pop-Card {
    cursor: pointer;
    background-color: white;
    border-radius: 13px;
    color: #0c0c0c;
    box-shadow: 0 1px 3px 0 #25201f4d;
    transition: .5s;
    overflow: hidden;
}

.cityCard {
    flex: 1;
    min-width: 312px;
    max-width: calc((100% - 24px)/2);
}

.cityCard:hover,
.pop-Card:hover {
    box-shadow: 0 3px 8px 0 #25201f81;
}

.cityCard img,
.pop-Card img {
    height: 170px;
    width: 100%;
    object-fit: cover;
}

.cityCard>div,
.pop-Card>div {
    padding: 20px 15px;
}

.cityCard>div>div,
.pop-Card>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

}

.cityCard h3,
.cityCard p,
.pop-Card h3,
.pop-Card p {
    font: 600 18px 'Inter';
}

.cityCard p,
.pop-Card p {
    line-height: 18px;
}

.cityCard h4,
.pop-Card h4 {
    font: 700 14px 'Inter';
}

.cityCard span,
.pop-Card span {
    font-weight: 400;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* или размер родителя */
    background: var(--darkblue)
        /* фон (можно убрать) */
}

.loader {
    border: 8px solid #f3f3f3;
    /* цвет фона */
    border-top: 8px solid var(--blue);
    /* цвет анимации */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* tickets */

.tickets-section {
    display: flex;
    gap: 10px;
}

.bg-tickets {
    background-color: #eff3f8;
    padding: 15px 0;
}

.minitext {
    cursor: pointer;
    position: relative;
    font: 400 11px 'Inter';
    width: max-content;
}

.minitext::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: -1px;
}

.tickets-filter {
    width: 240px;
}

.tickets-filter button {
    cursor: pointer;
    width: 100%;
    padding: 7px 12px;
    border: none;
    border-radius: 8px;
    background-color: #d8dadb;
    font: 600 15px 'Inter';
    color: #0c0c0c;
    margin: 10px 0 5px 0;
}

.tickets-filter button:hover {
    background-color: #bcc1c7;
}

.ticket-mob-title {
    margin: 20px 0;
    display: none;
    justify-content: space-between;
}

.ticket-mob-title h3 {
    font: 600 15px 'Inter';
}

.ticket-mob-title p {
    font: 400 15px 'Inter';
    text-decoration: underline;
}

.filter-title {
    cursor: pointer;
    font: 600 18px 'Inter';
    margin-bottom: 20px;
}

.transfer-box,
.time-box,
.company-box,
.place-box,
.transmission-box,
.price-box {
    position: relative;
    border-bottom: 1px solid #9ea2a7;
    padding-bottom: 25px;
    overflow: hidden;
    transition: .3s;
    margin-top: 20px;
}

.place-box {
    margin-top: 5px;
}

.transfer-box svg,
.time-box svg,
.company-box svg,
.place-box svg,
.transmission-box svg,
.price-box svg {
    position: absolute;
    top: 4px;
    right: 0px;
}

.checkboxDiv {
    cursor: pointer;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.checkboxDiv p {
    font: 400 11px 'Inter';
    margin-top: 3px;
}

.checkboxDiv h5 {
    font: 400 13px 'Inter';
    color: #626971;
}

/* timepicker */
.time-box h3 {
    font: 400 16px 'Inter';
}

.time-box .slider,
.price-box .slider {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#return {
    margin-top: 20px;
}

/* ticket */
.ticket-info,
.car-info {
    margin-left: 20px;
    flex: 1;
}

.ticket-info #info h5,
.car-info #info h5 {
    cursor: pointer;
    position: relative;
    font: 400 15px 'Inter';
    color: #0c0c0c;
}

.ticket-info #info h5::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #0c0c0c;
    bottom: -2px;
    left: 0;
}

.info-mobile-title {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.info-mobile-title h3 {
    font: 600 22px 'Inter';
    color: #0c0c0c;
}

.info-mobile-title p {
    color: var(--blue);
    font: 700 14px 'Inter';
}

.ticket-info #info {
    display: flex;
    margin-top: 20px;
}

.car-info #info {
    margin-top: 0px;
}

.ticket-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
}

.flight-card,
.car-card {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    gap: 1px;
    display: flex;
    background-color: #bcc1c7;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.247);
    transition: .4s;
}

.flight-card:hover,
.car-card:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.447);

}

.card-col-1,
.way2-line,.info-line {
    background-color: white;
    display: flex;
    color: #626971;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.card-col-1,
.card-way2-col-1,
.car-card-col-1 {
    width: 67%;
}

.card-way2-col-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px 20px;
}

.card-col-1 {
    padding: 40px 20px;
}

.card-col-1 img,
.way2-line img,
.flight-card>img,
.info-line img {
    width: 60px;
    height: 30px;
    object-fit: cover;
}

.flight-card>img {
    position: absolute;
    left: 10px;
    top: 3px;
    display: none;
}

.card-way2-col-1,
.card-col-1>div,
.way2-line>div ,
.info-line > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card-col-1>div>div,
.way2-line>div>div ,
.info-line > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-col-1>div>div:first-child,
.way2-line>div>div:first-child,
.info-line>div>div:first-child {
    align-items: end;
}

.card-col-1>div>div>h5,
.way2-line>div>div>h5,
.info-line>div>div>h5{
    font: 700 15px 'Inter';
}

.card-col-1>div>div>p,
.way2-line>div>div>p,
.info-line>div>div>p 
{
    font: 400 15px 'Inter';
}

.ticket-line {
    position: relative;
    height: 2px;
    width: 90px;
    background-color: #c4c4c4;
    margin-right: 18px;
}

.ticket-line>svg {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.ticket-line p,
.ticket-line h5 {
    position: absolute;
    font: 400 11px 'Inter';
    left: 55%;
    transform: translateX(-50%);
}

.ticket-line p {
    color: #626971;
    bottom: 7px;
    width: max-content;
}

.ticket-line h5 {
    color: var(--blue);
    top: 7px;
}

.card-col-2 {
    display: flex;
    background-color: white;
    padding: 20px;
    width: 33%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.card-col-2 .ticket-price {
    font: 400 18px 'Inter';
}

.card-col-2 button>svg {
    margin-top: 3px;
}

.card-col-2 button,
.banner1 button,
.car-card-col-2 button,
.webSiteBox button {
    cursor: pointer;
    border: none;
    background-color: var(--darkblue);
    border-radius: 7px;
    padding: 8px 0;
    font: 700 15px 'Inter';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card-col-2 button {
    width: 160px;
}
.card-col-2 button:hover {
    background-color:#154679;
}

.car-card-col-2 button {
    width: 100%;
}

.like {
    position: absolute;
    right: 15px;
    top: 15px;
}

/* banner */
.banner1,
.banner2 {
    cursor: pointer;
    width: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #25201f4d;
    color: #161616;
    transition: .3s;
}

.banner1 button {
    width: 100%;
}

.banner1 button:hover {
    background-color: #154679;
}

.banner1:hover,
.banner2:hover {
    box-shadow: 0 3px 10px 0 #25201f3b;
}

.banner1 h4,
.banner2 h4 {
    font: 600 19px 'Inter';
    text-align: center;
    line-height: 24px;
}

.banner1>div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.banner1 img {
    width: 32px;
}

.banner1 p,
.banner2 p {
    font: 400 13px 'Inter';
    line-height: 20px;
    text-align: center;
    margin: 12px 0 15px;
}

.banner2 {
    margin-top: 10px;
}

.banner2 p,
.banner2 h4 {
    text-align: left;
}

.banner2>div:first-child>div {
    padding: 5px 8px;
    border-radius: 5px;
    background: #d8dadb;
    font: 600 12px 'Inter';
}

.banner2>div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.banner2>div:last-child {
    height: 150px;
    background-color: var(--blue);
    border-radius: 10px;
}

.banner2 svg {
    width: 30px;
}

.banner2 img {
    margin-top: 10px;
}

/* signUp */
.signUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signUpPage>div {
    max-width: 431px;
    padding: 0 20px;
}

.signUpPage a svg {
    width: 234px;
}

.signUpPage h2 {
    font: 600 32px 'Inter';
    color: #0c0c0c;
    margin: 24px 0 12px;
}

.signUpPage>div>p:first-of-type {
    font: 400 14px 'Inter';
    color: #161616;
    line-height: 20px;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.signUpPage>div>p:last-child {
    font: 400 12px 'Inter';
    color: #595f66;
    line-height: 18px;
    margin-top: 20px;
}

.signUpPage span {
    cursor: pointer;
    color: #0c0c0c;
    text-decoration: underline;
    font-size: 13px;
}

.signInputBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signInputBox>div:nth-of-type(2) {
    display: flex;
    gap: 10px;
}

.signInputBox>div:nth-of-type(2) input {
    width: 100%;
}

.signInput {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}

.signInput p {
    font: 700 11px 'Inter';
}
.signInput > div {
    position: absolute;
    top: 55%;
    cursor: pointer;
    right: 13px;
}
.signInput input {
    border: 1px solid #9ea2a7;
    padding: 13px 15px;
    border-radius: 15px;
    font: 400 16px 'Inter';
    outline: none;
}

.signUpPage button {
    cursor: pointer;
    padding: 13px 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font: 400 14px 'Inter';
}

.password-error {
    font: 400 13px 'Inter';
    color: red;
}

.signUpPage .link {
    gap: 5px;
    display: flex;
    font: 400 13px 'Inter';
}

.signUpPage .link a {
    text-decoration: underline;
    color: var(--blue);
}

/* liked */
.likedSection {
    margin: 20px 0;
}

.likedSection>h3 {
    font: 600 32px 'Inter';
    margin: 0 0 40px 0;
}

.all-liked {
    display: flex;
    gap: 40px 15px;
    flex-wrap: wrap;
}

.liked-card {
    position: relative;
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 #25201f4d;
}

.liked-card>div:first-of-type {
    padding: 14px 16px;
    height: 160px;
}

.liked-card-title {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 12px;
}

.liked-card>img {
    width: 100%;
}

.liked-card-title div {
    height: 2px;
    width: 17px;
    background-color: #0c0c0c;
}

.liked-card h4 {
    font: 600 19px 'Inter';
    color: #0c0c0c;
}

.like {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.685);
}

.like svg {
    margin-left: 1px;
}

.about-flight {
    display: flex;
    justify-content: space-between;
}

.about-flight h5 {
    font: 600 15px 'Inter';
    color: #0c0c0c;
    margin-bottom: 3px;
}

.about-flight p,
.about-flight2 p {
    font: 400 11px 'Inter';
}

.about-flight h6 {
    font: 700 11px 'Inter';
    margin-bottom: 3px;
}

.about-flight .duration,
.about-flight2 p {
    color: #595f66;
}

.second {
    margin-top: 15px;
}

.about-flight2 {
    padding: 18px 0;
    border-top: 1px solid #d8dadb;
}

.about-flight2 h5 {
    font: 700 15px 'Inter';
    color: #0c0c0c;
    margin-bottom: 3px;
}

.about-flight2 h5,
.about-flight2 p {
    padding: 0 14px;
}

.noneLiked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #161616;
    gap: 330px;
    padding-bottom: 160px;
}

.noneLiked>div {
    width: 230px;

}

.noneLiked h5 {
    font: 600 18px 'Inter';
}

.noneLiked p {
    font: 400 13px 'Inter';
    margin: 20px 0 30px;
    line-height: 20px;
}

.noneLiked button {
    cursor: pointer;
    padding: 12px 16px;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    color: white;
    font: 600 14px 'Inter';
}

.noneLiked img {
    width: 350px;
}

.custom-toast {
    background-color: var(--darkblue) !important;
    color: white !important;
}

.confirm {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.622);
}

.confirm>div {
    border-radius: 10px;
    background-color: white;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 344px;
    margin: 0 30px;
    text-align: center;
}

.confirm h4 {
    font: 600 23px 'Inter';
}

.confirm p {
    font: 400 15px 'Inter';
    margin: 20px 0;
}

.confirm button {
    cursor: pointer;
    font: 600 14px 'Inter';
    border: none;
    height: 48px;
    border-radius: 10px;
}

.confirm button:first-of-type {
    color: var(--pink);
}

.confirm button:first-of-type:hover {
    color: white;
    background-color: var(--pink);
}

.confirm button:last-of-type {
    margin-top: 10px;
    background-color: transparent;
}

.confirm button:last-of-type:hover {
    background-color: var(--pink);
    color: white;
}

/* profile */

.profile {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 150px;
}

.profile-col1 {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
}

.profile-col1 h4 {
    font: 700 20px 'Inter';
    color: #0c0c0c;
    margin: 5px 0;
}

.profile-col1>p {
    font: 700 10px 'Inter';
    color: #595f66;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 80px;
}

.profile-col1>div {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #9ea2a7;
    width: 100%;
    padding: 18px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile-col1>div p {
    font: 400 15px 'Inter';
    color: #0c0c0c;
}

.profile-col1>div>svg:last-child,
.info-field svg {
    position: absolute;
    right: 10px;
}

.info-field svg {
    top: 50%;
    transform: translateY(-50%);
}

.profile-col1 button {
    cursor: pointer;
    margin-top: 20px;
    padding: 7px 0;
    border: none;
    background-color: #d8dadb;
    width: 240px;
    border-radius: 8px;
    color: #0c0c0c !important;
    font: 600 15px 'Inter';
}

.profile-col1 button:hover {
    background-color: #9ea2a7;
}

.account-section {
    border-bottom: 1px solid #bcc1c7;
}

.page-title {
    font: 600 30px 'Inter';
    color: #0c0c0c;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    background-color: #eff3f8;
    padding: 18px 20px;
    font: 600 15px 'Inter';
    color: #0c0c0c;
}

.info-field {
    padding: 18px 20px;
    position: relative;
}

.info-field label {
    font: 400 11px 'Inter';
    color: #595f66;
}

.info-value {
    cursor: pointer;
    margin: 5px 0 20px;
    font: 400 22px 'Inter';
    color: #0c0c0c;
}

.info-field h3 {
    cursor: pointer;
    font: 600 15px 'Inter';
    color: #0c0c0c;
}

.info-field h3:hover {
    color: var(--blue);
}

/* cars */
#ht-bg {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#ht-bg h1 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font: 800 58px 'Inter';
    color: white;
}

.filterCar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 80px;
}

.filterCar>div:first-of-type {
    width: 90%;
    border-radius: 13px;
    /* overflow: hidden; */
}

.filterCar>div:first-of-type,
.dateHotels {
    display: flex;
    gap: 4px;
}

.first-box-car {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.last-box-car {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

.dropwidth {
    width: calc(100% + 3px);
    left: -1px;
}

.timePicker {
    position: absolute;
    top: calc(100% + 6px);
    background-color: white;
    width: calc(100% + 5px);
    left: -2px;
    padding: 5px 0;
    z-index: 3;
    border: 2px solid var(--blue);
}


/* popular */
.car-section-title {
    font: 600 32px 'Inter';
    margin-bottom: 10px;
}

.popular {
    padding-top: 20px;
}

.slider-car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.slider-car-buttons {
    display: flex;
    gap: 8px;
}

.slider-car-buttons>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #c4c4c4;
    border-radius: 7px;
    cursor: pointer;
}

.slider-car-buttons>div:hover {
    background-color: #9ea2a7;
}

.popular-cities {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.popular-cities>div {
    width: 100%;
    position: absolute;
    display: flex;
    gap: 24px;
    transition: .6s;
}

.pop-Card {
    flex-basis: calc((100% - 48px)/3);
    flex-shrink: 0;
}

/* company */
.company-section {
    margin-top: 10px;
}

.company-section div {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 70px;
    gap: 15px;
}

.company-section img {
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .4s;
}

.company-section img:hover {
    box-shadow: rgba(0, 0, 0, 0.524) 0px 3px 8px;
}

/* filter-Car */

.place-box>div {
    display: flex;
    gap: 10px;
}

.place-box>div>div {
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #b3b3b3;
    padding: 6px 14px;
    font: 400 14px 'Inter';
}

.place-box>div>div:hover {
    border-color: #161616;
}

.place-box>.filter-title {
    margin-bottom: 15px;
}

.transmission-box>div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transmission-box>div:last-child>div {
    display: flex;
    align-items: center;
    gap: 6px;
    font: 400 15px 'Inter';
    color: #161616;
    cursor: pointer;
}

.price-car-info {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.price-car-info p {
    font: 600 13px 'Inter';
    margin-bottom: 5px;
}

.price-car-info>div {
    flex: 1;
}

.price-car-info>div>div {
    background-color: white;
    padding: 8px;
    font: 400 14px 'Inter';
    border: 1px solid #b3b3b3;
    border-radius: 8px;
}

.car-card-col-1,
.car-card-col-2 {
    padding: 15px;
    background-color: white;
}

.car-card-col-2 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.car-card-col-1>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-card-col-1>div:first-of-type h3 {
    font: 600 22px 'Inter';
    color: #161616;
}

.car-card-col-1>div:first-of-type~p {
    font: 300 13px 'Inter';
    margin-top: 3px;
}

.car-card-col-1>div:first-of-type img {
    width: 70px;
    height: 25px;
    object-fit: cover;
}

.car-card-info {
    display: flex;
    justify-content: space-between;

}

.car-card-info>div {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 25px;
}

.car-card-info>div>div {
    border-radius: 7px;
    padding: 7px 10px;
    background-color: #ebebeb;
    font: 400 12px 'Inter';
}

.car-card-info img {
    width: 180px;
}

.car-card-col-2 .car-price {
    font: 400 26px 'Inter';
}

/* error page */

.error {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.error svg {
    width: 250px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.error h2 {
    font: 600 36px 'Inter';
    text-align: center;
}

.error p {
    font: 400 15px 'Inter';
    max-width: 500px;
    text-align: center;
    margin: 25px 0;
}

.error button {
    cursor: pointer;
    padding: 7px 10px;
    border: none;
    font: 600 15px 'Inter';
    color: white !important;
    background-color: var(--darkblue);
    border-radius: 6px;
}

/* details */

.header1-dt{
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    z-index: 3;
}
.header1-dt svg{
    width: 120px;
}
.header2-dt{
    background-color: var(--darkblue);
    padding: 80px 0 20px;
    color: white;
}
.header2-dt h1 {
    font: 600 40px 'Inter';
}
.header2-dt p{
    margin-top: 7px;
    font: 400 14px 'Inter';
}
.detail-section{
    background-color:#eff3f8;
}
.detail-section .about {
    display: flex;
    gap: 60px;
    padding: 30px 0;
    justify-content: space-between;
}
.title-dt{
    font: 600 18px 'Inter';
}
.about .col1{
    flex: 1;
}
.about .col2{
    width: 440px
}
.about .col1 > div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.webSiteBox{
    background-color: white;
    border-radius: 12px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
}
.webSiteBox > div:last-of-type{
    display: flex;
    align-items: center;
    gap: 20px;
}
.webSiteBox h4 {
    font: 400 14px 'Inter';
}
.webSiteBox h2{
    font: 600 20px 'Inter';
}
.rating{
    display: flex;
    gap: 3px;
    margin-top: 10px;
}
.webSiteBox button{
    width: 100px;
}
.webSiteBox button:hover{
    background-color: #154679;
}
.about .col2 > div > h5 {
    font: 600 15px 'Inter';
    margin-top: 20px;
}
.about .col2 > div > h5 span{
    color:#595f66;
    font-weight: 400;
}
.about .col2 .info{
    border: 1px solid #d8dadb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 15px 10px;
    margin-top: 7px;
}
.about .col2 .info2{
    border: 1px solid #d8dadb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding: 15px 30px;
}
.about .col2 .info2 > p {
    font: 400 11px 'Inter';
    color: #626971;
}
.about .col2 .info2 > div {
    position: relative;
    font: 400 15px 'Inter';
    color: #161616;
    padding-left: 20px;
    margin: 10px 0 30px;
}
.about .col2 .info2 > div > div {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #c4c4c4;
    left: 0px;
}
.circle1,.circle2{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid #c4c4c4;
    border-radius: 50%;
}
.circle2{
    bottom: 0;
}
.about .col2 .info2 h5{
    color: #595f66;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0 8px;
}
.about .col2 .info2 div p{
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.info2 span{
    font-weight: 700;
    color: #161616;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1270px) {
    .banners {
        display: none;
    }

    .ticket-info,
    .car-info {
        flex: initial;
        width: 750px;
    }
}

@media only screen and (max-width: 1230px) {

    .filterFlight,
    .filterCar {
        width: 100%;
    }

    .header-filter>.filterFlight,
    .header-filter>.filterCar {
        padding: 50px 0 10px 0;
        display: block;
    }

    .header-filter>.filterCar {
        display: flex;
    }

    #fl-bg,
    #ht-bg {
        display: none;
    }

    .filterCar {
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 1030px) {
    .tickets-filter {
        position: fixed;
        top: 0px;
        background-color: white;
        width: 100%;
        left: 0;
        z-index: 6;
        padding: 0 20px;
        height: 100vh;
    }

    .noneLiked {
        flex-direction: column-reverse;
        gap: 10px;
        padding-bottom: 10px;
    }

    .noneLiked>div {
        width: 100%;
        text-align: center;
    }

    .noneLiked h5 {
        font-size: 20px;
    }

    .noneLiked p {
        margin: 15px 0;
        font-size: 15px;
    }

    .noneLiked button {
        width: 100%;
    }

    .noneLiked img {
        width: 260px;
    }

    .info-mobile-title {
        display: flex;
    }

    .minitext {
        display: none;
    }

    .ticket-mob-title {
        display: flex;
    }

    .tickets-filter button {
        display: none;
    }

    .ticket-info #info,
    .car-info #info {
        margin-top: 8px;
    }

    .ticket-info,
    .car-info {
        width: 100%;
        margin: 0;
    }

    .flight-card>img {
        display: block;
    }

    .card-col-1 img,
    .way2-line img {
        display: none;
    }

    .card-col-1,
    .way2-line {
        justify-content: center;
    }

    .filter-box p,
    .filter-box h5,
    .filter-box input {
        width: 100px;
    }

    .filter-box2 p,
    .filter-box2 h5,
    .filter-box2 input {
        width: 100%;
    }

    #box1,
    #box2 {
        flex: 1;
    }

    .footer,
    .footer>div:last-child,
    .question-box {
        flex-direction: column;
    }

    .question-box {
        gap: 0;
    }

    .footer>div:last-child {
        gap: 20px;
    }

    .footer>div:last-child>div {
        width: 100%;
    }

    #lang {
        width: 100%;
        margin-bottom: 20px;
    }

    footer h4,
    footer h3 {
        text-align: start;
    }

    footer h4 {
        margin-bottom: 7px;
    }

    .filterCar>div:first-of-type,
    .filterCar {
        flex-direction: column;
    }

    .buttonSearch2 {
        width: 100%;
        height: 45px;
        font-size: 15px;
    }

    .filterCar>div:first-of-type {
        width: 100%;
    }

    .pop-Card {
        flex-basis: calc((100% - 24px)/2);
    }

    .first-box-car {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 13px;
    }

    .last-box-car {
        border-top-right-radius: 0px;
    }

    .second-box-car {
        border-bottom-left-radius: 13px;
    }

    .dropdownDate1 {
        transform: translateX(0);
        right: initial;
        left: 0;
    }

    .dropdownDate2 {
        transform: translateX(0);
        right: 0;
    }

}
@media only screen and (max-width: 1024px) {
    .detail-section .about{
        flex-direction: column-reverse;
    }
    .about .col2{
        width: 100%;
    }
    .info-line{
        justify-content: center;
    }
    .info-line img {
        display: none;
    }
}
@media only screen and (max-width: 850px) {

    .filter-box p,
    .filter-box h5 {
        width: 90px;
    }

    .filter-box input,
    #box1 p,
    #box2 p {
        width: 75px;
    }


}

@media only screen and (max-width:768px) {

    .container,
    .container2,
    .container3 {
        padding: 0 15px;
    }

    .header,
    .header2 {
        padding: 20px 15px;
    }

    .filterFlight>div:nth-child(2) {
        flex-direction: column;
    }

    .links div {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        min-width: 120px;
        height: 108px;
        padding: 15px;
    }


    .filterFlight>div:nth-child(2)>div:first-child {
        width: 100%;
        flex-direction: column;
    }

    .buttonSearch {
        width: 100%;
        height: 45px;
        font-size: 15px;
    }

    .dateInputs .filter-box:nth-child(2) {
        display: none !important;
    }

    .mobileInput {
        display: block;
    }

    .filter-box p,
    .filter-box input {
        display: none;
    }

    .filter-box {
        padding: 10px 18px;
    }

    .first-box {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        border-bottom-left-radius: 0px;
    }

    .last-box {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 13px;
    }

    .dateInputs .filter-box:nth-child(1) {
        border-bottom-left-radius: 13px;

    }

    .filter-box p,
    .filter-box h5,
    .filter-box input {
        width: 100%;
    }


    nav {
        overflow-x: scroll;
    }

    nav p {
        white-space: nowrap;
    }

    header>div:first-child>div p {
        display: none;
    }

    .reverseButton {
        right: 20px;
        transform: translateY(calc(50% - 3px))
    }

    .adviceBox2 {
        flex-direction: column;
    }

    .main-img {
        height: 600px;
    }

    .main-img {
        padding: 30px 0 0 30px;
        justify-content: start;
    }

    .none {
        padding: 20px 0;
    }

    .none>h3 {
        font-size: 22px;
    }

    .allCity {
        flex-direction: column;
    }

    .cityCard {
        max-width: 100%;
    }
}

@media only screen and (max-width:680px) {
    .pop-Card {
        flex-basis: 100%;
    }
}

@media only screen and (max-width:640px) {

    .flight-card,
    .car-card {
        flex-direction: column;
    }

    .card-way2-col-1,
    .card-col-2,
    .card-col-1,
    .car-card-col-1,
    .car-card-col-2 {
        width: 100%;
    }

    .card-way2-col-1,
    .card-col-1 {
        padding: 45px 0 30px 0;
    }

    .card-col-2,
    .car-card-col-2 {
        flex-direction: row;
        gap: 20px;
        justify-content: end;
        padding: 15px 20px;
    }

    .car-card-col-2 button {
        max-width: 140px;

    }
}

@media only screen and (max-width:540px) {
    .citiesSection>h2 {
        font-size: 26px;
    }

    .adviceBox {
        flex-direction: column;
        gap: 30px;
    }

    .flightQuestionSection h2 {
        font-size: 24px;
    }

    .question h3 {
        font-size: 15px;
        padding-right: 30px;
    }

    .adviceBox3 {
        flex-direction: column;
    }

    .car-card-col-1 img {
        width: 120px;
        height: 80px;
    }

    .car-card-col-2 .car-price {
        font-size: 22px;
    }

    .transportFilter,
    .ticketFilter {
        flex-direction: column;
        gap: 0;
        font-size: 14px;
        align-items: center;
        padding: 12px 20px;
    }



    .main-img button {
        display: none;
    }

    .main-img h2 {
        font-size: 34px;
        line-height: 34px;
        width: 100%;
    }

    .main-img p {
        font-size: 16px;
    }

    .none>h3 {
        font-size: 18px;
    }

    .signUpPage {
        margin-top: 40px;
        align-items: start;
    }

    .signInputBox>div:nth-of-type(2) {
        flex-direction: column;
        gap: 15px;
    }

    .all-liked {
        flex-direction: column;
    }

    .liked-card {
        width: 100%;
    }

    .liked-card img {
        height: 168px;
    }

    .liked-card>div:first-of-type {
        height: min-content;
    }

    .filter-box2 {
        padding: 10px 18px;
    }

    .filter-box2 p {
        display: none;
    }

    .dateHotels {
        flex-wrap: wrap;
    }

    .dateHotels .filter-box2 {
        flex: initial;
        width: calc((100% - 4px)/2);
    }

    .second-box-car {
        border-bottom-left-radius: 0px;
    }

    .four-box-car {
        border-bottom-left-radius: 13px;
    }
}

@media only screen and (max-width:510px) {
    .webSiteBox > div:last-of-type{
        flex-direction: column;
        align-items: end;
        gap: 4px;
    }
    .car-section-title {
        font-size: 24px;
    }

    .error h2 {
        font-size: 28px;
    }

    .slider-car-buttons {
        display: none;
    }

    .popular-cities {
        overflow-x: scroll;
    }

    .company-section img {
        cursor: pointer;
        border-radius: 10px;
        width: 100px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: .4s;
    }
}

@media only screen and (max-width:400px) {
    header>div:first-child>div {
        gap: 0;
    }

    .icons-bg {
        width: 33px;
        height: 33px;
    }
}